* {
  font-family: "Roboto", sans-serif; }

nav {
  height: 50px;
  background-color: #212121; }

header {
  position: relative; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none; }
  .menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    color: #ffffff; }
  .menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px; }

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6); }
  .subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px; }
  .subheader .subheader_official {
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    color: #ffffff;
    margin-top: 6px; }
  .subheader .subheader_call {
    font-size: 12px;
    font-weight: 300;
    text-align: right;
    color: #ffffff;
    margin-top: 19px; }
  .subheader .subheader_phone {
    display: block;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    line-height: 12px;
    color: #ffffff;
    margin-top: 8px;
    text-transform: uppercase; }
  .subheader .subheader_btn {
    width: 172px;
    height: 46px;
    -webkit-box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
            box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 19px;
    text-transform: uppercase; }

.promo {
  min-height: 800px;
  background: url("../img/bg_company.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0; }
  .promo .promo_header {
    line-height: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 60px;
    margin: 0;
    text-align: center; }
  .promo .promo_subheader {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
    text-transform: uppercase; }
  .promo .promo_descr {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 23px; }
  .promo .promo_btn {
    display: block;
    margin: 0 auto;
    width: 259px;
    height: 63px;
    -webkit-box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
            box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 118px; }

.reasons {
  padding: 71px 0 65px 0;
  min-height: 900px; }
  .lable {
    width: 112px;
    height: 24px;
    padding: 5px 12px;
    background-color: #000000;
    font-size: 11px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 auto; }
  .title {
    margin-top: 38px;
    font-size: 38px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
    text-transform: uppercase; }
  .reasons .reasons_block {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .reasons .reasons_round {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%; }
  .reasons .reasons_descr {
    width: 343px;
    margin-left: 26px; }
  .reasons .reasons_subtitle {
    font-size: 17px;
    font-weight: normal;
    color: #1eacc7; }
  .reasons .reasons_text {
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #202020; }

/*# sourceMappingURL=style.css.map */